<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>
    <div class="feed">
        <div class="ask485">ask485?</div>
    <div class="search_bar">
    <form action="/" method="GET">
        <div><input type="text" name="q" value="" required/></div>
        <div class="pagerank_weight">Pagerank Weight</div>
        <div><input type="range" name="w" min="0" max="1" step="0.01"> /></div>
        <input type="submit" value="Search"/>
    </form>
    </div>
    <div class="docs">
        {%if num_docs == 0%}
          <div class="no_results">
            No search results found!
          </div>
        {%else%}
           {%for doc in documents%}
                {%if doc['url']%}
                <a class="doc_url" href = "{{doc.url}}">{{doc.url}}</a>
                {%else%}
                <a class="doc_url">No url available</a>
                {%endif%}

                <div class="doc_title">{{doc.title}}</div>

                {%if doc['summary']%}
                <div class="doc_summary">{{doc.summary}}</a>
                {%else%}
                <div class="doc_summary">No summary available</a>
                {%endif%}
            {%endfor%}
        {%endif%}

    </div>
    </div>
  </body>
</html>